* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.container {
    margin: auto;
    width: 900px;
}

.header-one {
    margin-top: 16px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}
 
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-two {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.header-button {
    text-decoration: none;
    color: inherit;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    padding: 4px;
    background-color: #3882F6;
}

.box-one {
    width: 800px;
    margin: 50px auto;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 30px 0;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.boxes-content {
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 135px;
    width: 135px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

footer {
    text-align: center;
}

.box-two-container {
    background-color: #E5E7EB;
    padding: 50px 0;
}

.box-two {
    width: 800px;
    margin: auto;
}

p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

.box-three {
    width: 900px;
    margin: 50px auto;
    padding: 40px 80px;
    color:#F9FAF8;
    background-color:#3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-button {
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    text-align: center;
    width: 100px;
    padding: 4px;
}

footer {
    color:#E5E7EB;
    background-color: #1F2937;
    padding: 50px;
}